.detail-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 768px;
  margin: auto;
  padding-bottom: 80px;
  padding-top: 20px;
}

.detail-txt {
  margin: 5px 0 ;
  text-align: center;
  overflow-y: auto;
}
